{% extends 'base.html' %}

{% block page_content %}
<div class="about">
  <p>הרשת הולכת ומסתגרת. הצצה חטופה ברשימת הרשתות האלחוטיות הנעולות חושפת את הנפש המתבצרת שלנו: Ori_Wireless משוכנע שכולם גונבים ממנו, R-012 לא סומך על חבריו, default לא רוצה לצאת פראייר ו-RTA1025W אומר לעצמו שאם כולם סוגרים את הרשת, אז גם הוא.</p>

  <p>במקום שהרשת תפתח אותנו לעולם, הצליחו להפחיד אותנו. גרמו לנו להסתגר, לפחד, להיות מנוכרים לחברינו במרחב. איש איש לעצמו ולססמתו. ההתכנסות מזיקה לנו – כך קל לאסוף עלינו מידע ספציפי, האנונימיות נפגמת, וכל משתמש כבול לרשת האלחוטית שלו כי כולם בונקרים כמוהו. קצב זרימת המידע ברשת נחלש.</p>

  <p>זה לא צריך להיות כך. הפתיחות היא הרשת. פרויקט אלחוט פתוח, מבית מפלגת הפיראטים, מבקש לעודד ולהנגיש את פתיחת הרשתות האלחוטיות הביתיות, המשרדיות ובבית הקפה השכונתי לשימוש חופשי. בעזרת שיתוף המשאבים תיווצר קהילת מידע חופשית, אנונימית ואלחוטית; קהילה שאינה תלויה ברשתות הטלפונים הסלולריים, ושגישתה לרשת אינה מוגבלת בזמן ובמרחב.</p>
</div>
<div class="footer">
  <p>פרוייקט זה מוגש בחסות <a href="http://israelipirates.org.il">מפלגת הפיראטים הישראלית</a>. אפליקציה זו בנויה מכלים חופשיים בלבד ומכבדת את פרטיותכם. מעוניינים לתרום קוד? שלחו לנו הצעות לשינויים ב<a href="https://github.com/israelipirates/openwifi">גיטהאב</a>.</p>
</div>
{% include 'modals.html' %}
{% endblock %}
