<!doctype html>  
<!--[if lt IE 7 ]> <html class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <title>ויפי-פתוח || מפלגת הפיראטים הישראלית</title>
  
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=0.4">
  <meta name="robots" content="all">
  
  <meta property="og:title" content=""/>
  <meta property="og:url" content=""/>
  
  <link rel="canonical" href="">
  <link rel="shortlink" href="">
  
  <link rel="shortcut icon" href="static/img/favicon.ico">

  <link rel="stylesheet" href="static/css/bootstrap-rtl.min.css" type="text/css">
  <link rel="stylesheet" href="static/css/main.css" type="text/css">

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCcQze6F3ihwXZf-45109RKO9b0o4B83Zc&sensor=true"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/base.js"></script>

</head>

<body lang="en" onload="initialize()">
  {% block page_content %}
  <div id="main" class="container" role="main">
    <div class="span8 offset2">
      <h1>ויפי-פתוח</h1>
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#">ראשי</a>
        </li>
        <li><a href="#">מפה</a></li>
        <li><a href="#">חיפוש</a></li>
        <li><a href="#">הוספה</a></li>
        <li><a href="#">אודות</a></li>
      </ul>
      <div id="map_canvas" class="canvas"></div>
      <p>פרוייקט זה מוגש בחסות <a href="http://israelipirates.org.il">מפלגת הפיראטים הישראלית</a>.</p>
    </div>
  </div>
  {% endblock %}  
</body>
</html>
