<div class="modal" id="add-hotspot-modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>הוספת נקודה</h3>
  </div>
  <form id="add-hotspot-form" class="form-horizontal" action="" method="POST">
    <div class="modal-body">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="add-hotspot-name">שם הרשת</label>
          <div class="controls">
            <input id="add-hotspot-name" name="name" placeholder="HotspotName"></input>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="modal-footer">
      <input id="add-hotspot-send" type="submit" value="שלח" class="btn btn-primary"></input>
      <a href="#" class="btn" data-dismiss="modal">ביטול</a>
    </div>
  </form>
</div>
